{{~#defineBlock "Aside"~}}
    {{~#defineElement "content"~}}
        <div class="{{elementName}}">
            {{this}}
        </div>
    {{~/defineElement~}}

    <div class="{{blockName}}">
        {{element "content"}}
    </div>
{{~/defineBlock~}}
