{{~#defineBlock "Below"~}}
    {{~#defineElement "content"~}}
        <div class="{{elementName}}">
            {{this}}
        </div>
    {{~/defineElement~}}

    <below class="{{blockName}}">
        {{element "content"}}
    </div>
{{~/defineBlock~}}
