{{~#defineBlock "Footer"~}}
    {{~#defineElement "copyright"~}}
        <div class="{{elementName}}">{{this}}</div>
    {{~/defineElement~}}

    <footer class="{{blockName}}">
        {{element "copyright"}}
    </footer>
{{~/defineBlock~}}
