.Pagination {
    position: relative;
    left: 50%;
    float: left;

    &-links {
        position: relative;
        left: -50%;
        float: left;
    }

    a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #ddd;

        &.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        &:hover:not(.active) {
            background-color: #ddd;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}
