<div class="Quote" {{#if image}}data-has-image="true"{{/if}}>
    <div class="Quote-container">
        {{#with quote}}
            <blockquote class="Quote">
                {{~this~}}
            </blockquote>
        {{/with}}
        <div class="Quote-info">
            {{#with image}}
                <div class="Quote-image">
                    {{this}}
                </div>
            {{/with}}
            {{#with attribution}}
                <div class="Quote-attribution">
                    {{{this}}}
                </div>
            {{/with}}
        </div>
    </div>
</div>
