<div class="YouTubeVideoPlayer-player">
    <iframe id="YouTubeVideoPlayer-{{playerId}}" role="application" title="{{videoTitle}}" allowfullscreen src="//www.youtube.com/embed/
            {{~videoId}}?enablejsapi=1&playsinline=1
            {{~#with autoplay}}&amp;autoplay=1&amp;mute=1{{/with~}}
            {{~#with seekSeconds}}&amp;start={{this}}{{/with~}}">
    </iframe>
</div>
