{{#defineBlock "HiddenInput" ~}}
    {{#defineBlockContainer ~}}
        {{#defineBlockBody ~}}
            <div class="{{blockName}}">
                <input type="hidden" name="{{name}}" value="{{value}}">
            </div>
        {{~/defineBlockBody}}
    {{~/defineBlockContainer}}
{{~/defineBlock}}
