.inputContainer {
    margin-right: 18px;
    clear: both;
}

.inputContainer.is-minimal,
.inputContainer.is-one-half,
.inputContainer.is-one-third,
.inputContainer.is-one-quarter,
.inputContainer.is-two-third,
.inputContainer.is-three-quarter {
    float: left;
    clear: none;
}

.inputContainer.is-minimal {
    min-width: 0;
    width: auto;
}

.inputContainer.is-one-half {
    width: calc(100% / 2 - 18px);
}

.inputContainer.is-one-third {
    width: calc(100% / 3 - 18px);
}

.inputContainer.is-one-quarter {
    width: calc(100% / 4 - 18px);
}

.inputContainer.is-two-third {
    width: calc(200% / 3 - 18px);
}

.inputContainer.is-three-quarter {
    width: calc(300% / 4 - 18px);
}

.inputContainer .repeatableForm>ol>li {
    overflow: hidden;
}