<div class="VimeoVideoPlayer-player">
    <iframe id="VimeoVideoPlayer-{{playerId}}"
            allowfullscreen
            allowtransparency
            allow="autoplay"
            src="https://player.vimeo.com/video/{{videoId}}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media"
    ></iframe>
</div>