<div class="Navigation">
    {{~#with previousPage~}}
        <div class="Navigation-previousPage">
            {{this}}
        </div>
    {{~/with~}}
    {{~#with nextPage~}}
        <div class="Navigation-nextPage">
            {{this}}
        </div>
    {{~/with~}}
</div>