<a class="Slide">
    {{#with media}}
        <div class="Slide-media">
            <div class="Slide-icon">
                <svg>
                    <use xlink:href="#icon-24-expand"></use>
                </svg>
            </div>
            {{this}}
        </div>
    {{/with}}
    <div class="Slide-content">
        {{#with title}}
            <div class="Slide-title">
                {{~this~}}
            </div>
        {{/with}}

        {{#with description}}
            <div class="Slide-description">
                {{~this~}}
            </div>
        {{/with}}

        {{#with attribution}}
            <div class="Slide-attribution">
                {{~this~}}
            </div>
        {{/with}}
    </div>
</a>
