.Slide {
    &-title {
        text-align: center;
        text-transform: capitalize;
        color: var(--white);
        background-color: var(--site-theme-primary);
        padding: 2px 16px;
    }
}
