body {
    font-family: "Poppins", sans-serif;
}

.breadcrumbs {
    &-divider {
        display: inline-block;

        &:last-child {
            display: none;
        }

        svg {
            width: 5px;
            height: 9px;
        }
    }
}

.lead {
    text-align: center;

    img {
        max-height: 500px;
    }
}
