.PromoModule {
    display: flex;
    height: 120px;
    border-left-style: solid;
    border-left-color: darkgrey;
    border-left-width: medium;

    &-media {
        margin: auto;
        padding: 0 5px;

        img {
            width: 100px;
        }
    }

    &-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-title {
        font-size: 18px;
        font-weight: 300;
    }

    &-date {
        font-size: 12px;
        font-weight: 700;
    }

    &-cta {
       margin: auto 0 5% 0;

        a.btn {
            color: var(--white);
            padding: 5px;
            text-decoration: none;
        }
    }
}
