.PromoModule {
    height: 350px;
    width: 300px;
    overflow: hidden;

    &-title {
        font-size: larger;
        font-weight: bold;
    }

    &-date {
        font-style: italic;
    }

    &-description {
        overflow: hidden;
        position: relative;
        height: 3.6em;

        @media @mq-max-md {
            display: none;
        }
    }

    &-description::after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
    }

    &-media {
        img {
            max-width: 100%;
        }
    }

    @media @mq-max-lg {
        height: 300px;
        width: 250px;
    }

    @media @mq-max-md {
        height: 250px;
        width: 200px;
    }

    @media @mq-max-sm {
        height: 200px;
        width: 150px;
    }
}
