<div class="list">
    <div class="list-title">{{title}}</div>
    <div class="list-description">{{description}}</div>
    <div class="list-items">
        {{#each items}}
            <div class="list-items-item">{{this}}</div>
        {{/each}}
    </div>
</div>