.PromoList {
    max-width: 90%;
    padding-top: 50px;

    &-title {
        text-align: center;
        font-size: 30px;
     }

    &-items {
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: 350px;
            margin: auto;
            padding: 5%;
            text-align: -webkit-center;
        }

        &-item:after {
            content: "";
            display: table;
            clear: both;
        }
    }
}
