.list {
    padding-top: 50px;

    &-title {
        text-align: center;
        font-size: 30px;
     }

    &-items {
        display: flex;
        flex-wrap: wrap;
        padding: 0 5% 0 5%;

        &-item {
            padding-top: 25px;
            float: left;
            width: 33.33%;
            text-align: -webkit-center;
        }

        &-item:after {
            content: "";
            display: table;
            clear: both;
        }

        @media @mq-max-lg {
            &-item {
                width: 50%;
            }
        }

        @media @mq-max-md {
            &-item {
                width: 100%;
            }
        }
    }
}
